<div class="">
<!--    <div class="">-->
<!--        <div @click="alertDataAccount" class="bank-accounts__box-icon flex justify-center ion-align-items-center">-->
<!--            <ion-icon :icon="addOutline" />-->
<!--        </div>-->
<!--    </div>-->
    <div v-if="accountsBank.length >0">
        <ion-slides pager="true" :options="slideOpts">
            <ion-slide  v-for="account in accountsBank">
                <div>
                    <ion-card class="bank-accounts__card">
                        <ion-card-header>
                            <ion-card-subtitle class="text-white">{{ account.accountNumber }}</ion-card-subtitle>
                            <ion-card-title class="text-white">{{ account.balance }}</ion-card-title>
                        </ion-card-header>

                        <ion-card-content class="text-white">
                            <div class="flex flex-col">
                                <div>{{ account.description }}</div>
                                <div>{{ account.alias }}</div>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
<!--    <fab-button-app></fab-button-app>-->
    <div class="text-center w-full" v-else>
        <ion-img src="assets/empty.png" alt=""></ion-img>
    </div>
    <div class="absolute bottom-24 right-0">
        <div class="relative">
            <fab @generateQr="goToQRCode" @qrCode="showQRScanner = true" @addAccount="alertDataAccount"></fab>
        </div>
    </div>
    <q-r-scanner @closeScanner="showQRScanner = false" @scanned="onScanned" v-if="showQRScanner"></q-r-scanner>
</div>
