<ion-page>
    <ion-content class="bg-black" :fullscreen="true">
        <div v-if="!isForm" class="bg-blueDark-50 text-white h-full pr-6 pl-6 relative">
            <div class="absolute login__bubble-information z-0">
            </div>
            <div class="text-white z-10 absolute top-36 login__text-information">
               <div>
                   Crea tu cuenta de banco en 3 minutos
               </div>
                <div class="login__text-information--data text-blueDark-50 font-bold">
                    Rápido y seguro
                </div>
            </div>
            <div class="absolute bottom-14">
                <button-app class="login__login-button" @click="goToRegister" text="Crear Cuenta"></button-app>
                <div class="login__member mt-3" @click="isForm = true">
                    Ya eres miembro?
                </div>
            </div>
        </div>
        <div v-if="isForm" class="bg-blueDark-50 h-full">
            <ion-toolbar>
                <ion-title @click="isForm = false">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" />
                    </svg>
                </ion-title>
            </ion-toolbar>
            <div class="pt-16">
                <login-form></login-form>
            </div>
        </div>
    </ion-content>
</ion-page>
